[Unit]
Description=Internet gateway configuration
After=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=-/usr/bin/iptables -N INETGW
ExecStart=/usr/bin/iptables -I FORWARD -j INETGW
ExecStart=/usr/bin/iptables -I INETGW -i {{ router_lan_bridge_name }} -o {{ router_lan_bridge_name }} -j ACCEPT
ExecStart=/usr/bin/iptables -I INETGW -i {{ router_lan_bridge_name }} -o {{ router_wan_interface.name }} -j ACCEPT
ExecStart=/usr/bin/iptables -I INETGW -i {{ router_wan_interface.name }} -o {{ router_lan_bridge_name }} -j ACCEPT
ExecStart=/usr/bin/iptables -A FORWARD -j REJECT

ExecStop=/usr/bin/iptables -D FORWARD -j REJECT
ExecStop=/usr/bin/iptables -D FORWARD -j INETGW
ExecStop=/usr/bin/iptables -F INETGW
ExecStop=/usr/bin/iptables -X INETGW
